body, html {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

#header {
    width: 100%;
    background-color: var(--primary);
    transition: background ease-out 0.2s;
}

#header .navbar-collapse {
    width: auto;
}

#header .nav-link {
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
    border-bottom: solid 4px transparent;
}

#header .nav-link:hover {
    border-bottom: solid 4px var(--secondary);
    color: var(--secondary);
}

main .banner{
    background: url(../assets/banner4.png);
    height: 350px;
    background-position: center;
    margin-bottom: 70px;
    margin-top: 98px;
}

main .banner-garotas{
    background: url(../assets/banner-garotas-espertas.png);
    height: 350px;
    background-position: center;
    padding-bottom: 150px;
    background-color: #53b7ac;
    margin-bottom: 100px;
    margin-top: 100px;
}

.verde {
    background-color: #53b7ac;
    padding-bottom: 15px;
    padding-top: 15px;
}

.rosa {
    background-color: #dc3473;
}

.espaco-baixo-fotos {
    margin-bottom: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.espaco-alto-fotos {
    margin-top: 30px;
}

.ajuste-e {
    margin-left: 150px;
    width: 800px;
}

.ajuste-d {
    margin-right: 150px;
    width: 750px;
}

.ajuste-i{
    margin-left: 150px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

ul li {
    display: flex;
    list-style-type: none;
    margin-left: 25px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 0px;
   }
   .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    padding: 60px 180px 0px 180px;
   }
   